<div class="reply-container" >
  <div class="message-reply px-2">
    <div class="message-reply-box">
      <div class="message-reply-parent-content text-muted">
        Deleted Message
      </div>
    </div>
  </div>
</div>