<div class="message-reply mx-4 d-flex justify-content-between align-items-center"
     data-reply-target="replyBox"
     style="display: none !important;">
  <div class="message">
    <div class="d-block px-2">
      <div class="message-reply-box">
        <div class="message-reply-parent-content">
          <i class="bi bi-reply-all"></i>
          <span data-reply-target="replyText"></span>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn-close" data-action="click->reply#clearReply"></button>
</div>