
<div class="user-info">
  <div class="user-info--container d-flex align-items-center gap-1">
    <div class="user-info--avatar">
      <%= render partial: "shared/default_avatar", locals: { size: 50} %>
    </div>
    <div class="user-body">
      <p class="user-info--username mb-1 align"><%= user.username %></p>
      <p class="user-info--online text-muted mb-1">was recently</p>
    </div>
  </div>
</div>