<div class="modal-body">
  <ul class="nav nav-tabs room-info-tabs" id="myTab" role="tablist">
    <li class="nav-item room-info-item" role="presentation">
      <button class="nav-link room-info-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
    </li>
    <li class="nav-item room-info-item" role="presentation">
      <button class="nav-link room-info-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Members</button>
    </li>
    <% if policy(room.find_participant(current_user)).change_role? %>
      <li class="nav-item room-info-item" role="presentation">
        <button class="nav-link room-info-link" id="changeRole-tab" data-bs-toggle="tab" data-bs-target="#changeRole" type="button" role="tab" aria-controls="changeRole" aria-selected="false">Change roles</button>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
      <div class="container">
        <%= render partial: 'rooms/room_info/tabs/about', locals: { room: } %>
      </div>
    </div>
    <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
      <%= render partial: 'rooms/room_info/tabs/members', locals: { room: } %>
    </div>
    <% if policy(room.find_participant(current_user)).change_role? %>
      <div class="tab-pane fade" id="changeRole" role="tabpanel" aria-labelledby="changeRole-tab">
        <%= render partial: 'rooms/room_info/tabs/change_roles', locals: { room: } %>
      </div>
    <% end %>
  </div>
</div>
