<div class="modal-body">
  <%= render partial: "rooms/room_info/participants_list", locals: { room: room, user: user } %>
  <%= render partial: "rooms/room_info/contacts_list", locals: { room: room, user: user }%>
  <%= render partial: "rooms/room_info/blocked_list", locals: { room: room, user: user } %>
</div>