<div class="modal-body">
  <div class="room-info--participants-list">
    <%= render partial: 'rooms/room_info/participants_list', locals: { room: room, user: user } %>
  </div>
  <% if policy(@participant).unblock_participant? %>
    <div class="room-info--blocked-list">
      <%= render partial: 'rooms/room_info/blocked_list', locals: { room: room, user: user } %>
    </div>
  <% end %>
</div>