<div class="room-notification d-flex align-self-center rounded-pill p-1 px-2 justify-content-center gap-1">
  <%= room_notification.message %> <span class="room-notification-time text-muted align-self-center"><%= date_to_west_hours(room_notification.created_at) %></span>
</div>