<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "search/form" %>
        <h2>Search Results:</h2>
        <div id="search-results">
          <ul>
            <% @search_results.each do |user|%>
              <li> <%= user.username %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>