<div class='tabs-popover-content'>
  <%= render partial: 'layouts/tabs/popover_header', locals: { title: 'Your rooms' } %>
  <div class="tabs-popover-body mx-0 px-0 py-2 popover-scroll main-scroll-bar">
    <% Room.all_group_for_user(current_user).each do |room| %>
      <li class="w-100 main-hover pe-5 ps-2 text-nowrap">
        <div class="sidebar__room pe-5 btn-squeeze d-flex align-items-center">
          <div class="sidebar__room_icon"><i class="bi bi-hash"></i></div>
          <%= link_to room.name, room, class: 'd-block w-100 room-link nav-link px-0' %>
        </div>
      </li>
    <% end %>
  </div>
</div>
