<ul class="list-group h-75 overflow-y-scroll main-scroll-bar m-3">
  <% @notifications.each do |notification| %>
    <li class="list-group-item">
      <%= link_to notification.item, class:"text-black text-decoration-none" do  %>
        <%= render notification, locals: { notification: notification } %>
      <% end %>
    </li>
  <% end %>
  <% unless @notifications.first %>
    <li class="list-group-item">
      Notifications are clear
    </li>
  <% end %>
</ul>