<h1>Notifications</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= link_to notification.event.url do  %>
          <%= notification.event.message %> [<%= notification.event.params[:room].id %>]
      <% end %>
    </li>
  <% end %>
</ul>