<div class="reaction reaction-current-user">
  <span class="reaction-emoji"><%= reaction_counter[:emoji] %></span>
  <span class="reaction-count"><%= reaction_counter[:emoji_size] %></span>
</div>



