<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="searchModal" data-bs-toggle="modal" data-bs-target="#searchModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Search Results:</h2>
        <div id="search-results">
          <%= turbo_frame_tag "search-results" %>
        </div>
      </div>
    </div>
  </div>
</div>