<div class='tabs-popover-content'>
  <%= render partial: 'layouts/tabs/popover_header', locals: { title: 'Change your status' } %>
  <div class="tabs-popover-body p-0 py-2 mx-0 popover-scroll main-scroll-bar">

    <%= render partial: 'users/single_status_form' %>
  </div>
</div>