<% outgoing_contacts = current_user.outgoing_contacts %>

<div class="mb-4">
  <h4 class="mb-3">Outgoing Contact Requests</h4>

  <% if outgoing_contacts.blank? %>
    <div class="alert alert-info text-center" role="alert">
      You haven't sent any contact requests yet.
    </div>
  <% else %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% outgoing_contacts.each do |contact| %>
        <% user = contact.contact %>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <%= link_to user_path(user), data: { turbo_frame: 'modal_frame' }, class: 'd-flex align-items-center text-decoration-none text-dark mb-3' do %>
                <%= render partial: 'shared/default_avatar', locals: { size: 50, user: user, rounded: true } %>
                <h5 class="ms-3 mb-0"><%= user.username %></h5>
              <% end %>

              <div class="mt-auto">
                <%= button_to 'Cancel Request', delete_contact_path(user), method: :delete, class: 'btn btn-outline-danger btn-sm w-100' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
