<% outgoing_contacts = current_user.outgoing_contacts %>
<div class="outgoing-list">
  <% unless outgoing_contacts.present? %>
    <h3>No contact request yet.</h3>
  <% end %>

  <% outgoing_contacts.each do |contact| %>
    <div class="outgoing-item d-flex align-items-center justify-content-between mb-3 p-2 border rounded">
      <div class="d-flex align-items-center">
        <%= render partial: "shared/default_avatar", locals: { size: 25, user: contact } %>
        <span><%= contact.contact.full_name %></span>
      </div>
      <div>
        <%= button_to "Decline", contact_path(contact.contact), method: :delete, class: "btn btn-warning btn-sm" %>
      </div>
    </div>
  <% end %>
</div>