<% outgoing_contacts = current_user.outgoing_contacts %>
<div class="outgoing-list">
  <% unless outgoing_contacts.present? %>
    <h3>No contact request yet.</h3>
  <% end %>

  <ul class=" list-group w-100 d-flex flex-column">
    <% outgoing_contacts.each do |contact| %>
      <% user = contact.contact  %>
      <li class="members-list-item member-item list-group-item-action py-2 px-1 w-100 d-flex justify-content-between">
        <%= link_to user_path(user), data: { turbo_frame: 'modal_frame' }, class: 'nav-link px-0 w-100 d-flex flex-row gap-3 align-items-center' do %>
          <div class="message-avatar d-flex align-items-center">
            <%= render partial: 'shared/default_avatar', locals: { size: 40, user: user, rounded: false } %>
          </div>
          <p class="fw-bold m-0"><%= user.username %></p>
        <% end %>
        <div>
          <%= button_to 'Cancel', contact_path(user), method: :delete, class: 'btn main-btn-remove btn-modal py-1 w-100' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
