<% prev_event = room_event.prev %>

<% if prev_event.nil? || prev_event.created_at.to_date != room_event.created_at.to_date %>
  <% have_unread = !@first_unread_date.nil? && @first_unread_date == room_event.created_at.to_date %>
  <div class="divider-container d-flex ">
    <div class="divider <%= 'divider-unread' if have_unread %> d-flex align-items-center justify-content-center w-100">
      <div class="divider-text fw-bold bg-white border-1"><%= day_and_month(room_event.created_at) %></div>
    </div>
    <% if have_unread %>
      <span class="text-danger">New</span>
    <% end %>
  </div>
<% end %>