<nav id="sidebar" class="col-md-3 col-lg-2 w-100 d-md-block sidebar">
  <div class="mt-3">
    <%= render partial: 'layouts/sidebar/sidebar_top' %>
  </div>
  <div class="position-sticky">
    <h5 class="text-light p-3">Direct Messages</h5>
    <%= render partial: 'rooms/all_peer_rooms_for_user', locals: { rooms: @dms } %>
  </div>
</nav>
