<div class="container d-flex flex-column align-items-center justify-content-center h-100">
  <h1 class="display-4 text-center mb-4">Welcome to TurboChat!</h1>

  <p class="lead text-center">
    Select a chat from the list or create a new one to start communicating.
  </p>

  <div class="card shadow-lg mt-4" style="max-width: 500px;">
    <div class="card-body">
      <h5 class="card-title">Quick Tips</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Press <kbd>Ctrl + M</kbd> to search for users</li>
        <li class="list-group-item">In the search bar user <kbd>#username</kbd> <kbd>@email</kbd> <kbd>$name</kbd> </li>
        <li class="list-group-item">Hover over leftmost <kbd>tabs</kbd> to see its content<li>
      </ul>
    </div>
  </div>
</div>