<div class="room-info-members">
  <ul class="members-list list-group mt-4 w-100 d-flex flex-column">
    <% if policy(room.find_participant(current_user)).create? %>
      <button type="button"
              class="btn p-0"
              data-controller="open-child-modal"
              data-action="click->open-child-modal#openTargetModal"
              data-bs-target="#contactsModal">
        <li class="members-list-item member-item list-group-item-action py-3 px-1 w-100 d-flex align-items-center gap-3">
            <div class="members-list-add message-avatar d-flex align-items-center">
              <div class="border d-flex justify-content-center align-items-center"
                   style="width: 40px; height: 40px">
                <i class="bi bi-person-add text-info"></i>
              </div>
            </div>
            <p class="fw-bold m-0">Add people</p>
        </li>
      </button>
    <% end %>
    <% room.participants.each do |participant| %>
      <% user = participant.user %>
      <%= render layout: 'rooms/room_info/room_info_user_with_actions', locals: { user:, room: } do %>
        <% if policy(room.find_participant(current_user)).destroy? && !(participant.owner? || participant.moderator?) %>
          <%= form_with url: room_participant_path(room), method: :delete, local: true do %>
            <%= hidden_field_tag :user_id, participant.user.id %>
            <%= submit_tag 'Remove', class: 'btn text-danger btn-modal py-1 w-100' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
