.fade-in {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  -moz-animation: fade 1s;
  -o-animation: fade 1s;
}

@-webkit-keyframes fade {
  0% { opacity: 0.1 }
  50% { opacity: 0.5 }
  100%{ opacity: 1 }
}

@-moz-keyframes fade{
  0% { opacity: 0.1 }
  50% { opacity: 0.5 }
  100%{ opacity: 1 }
}

@keyframes fade {
  0% { opacity: 0.1 }
  50% { opacity: 0.5 }
  100%{ opacity: 1 }
}
@-o-keyframes fade {
  0% { opacity: 0.1 }
  50% { opacity: 0.5 }
  100%{ opacity: 1 }
}