
@media only screen and (max-width: 600px) {
  .hero-image{
    transform: scale(0.5);
  }
  .nav-container{
    padding: 0 2px;
  }
  .nav.tabs{
    gap: 0.5rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-image{
    transform: scale(0.8);
  }
  #trix-toolbar-1, {
    display: none;
  }
  .btn-room-back{
    display: block;
  }
  .md-hide-sidebar{
    display: none
  }
  .sidebar{
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1200px) {}