.navbar{
  min-height: 50px;
}

.nav-link{
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  &:focus{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
}
.nav .nav-link.active{
  border-bottom: 2px solid var(--secondary-light-bg-color);
}

button.nav-link{
  &:hover{
    border:none;
  }
}