#single_room{
  background-image: url("/images/noise.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#chatroom_container{
  flex: 1 1 auto;
}
.room-container{
  padding-bottom: 100px;
  overflow-y: auto;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--secondary-bg-color);
}
.single-room-top{
  border-bottom: 3px solid var(--shadow-bg-color);
}

.trix-content{
  &:first-child{
    padding: 2px 5px ;
    border-radius: 5px;
  }
  & pre{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: var(--main-bg-color-hover);
    color: white;
    overflow-x: auto;
  }
}