#single_room{
  //background-image: url("/images/noise.svg");
  //background-repeat: no-repeat;
  //background-size: cover;
}

#chatroom_container{
  flex: 1 1 auto;
}
.room-container{
  padding-bottom: 50px;
  overflow-y: auto;
}
.message-content{
  &:hover{
    background-color: var(--shadow-light-bg-color);
  }
}
.message-box {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
}

.message-time{
  font-size: 12px;
}
.message-avatar > div > img{
  border-radius: clamp(12px, min(22.222%, 12px), 12px);
}

.single-room-top{
  border-bottom: 3px solid var(--shadow-bg-color);
}

.trix-content{
  &:first-child{
    border-radius: 5px;
  }
  & pre{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: var(--main-bg-color-hover);
    color: white;
    overflow-x: auto;
  }
}

.user-text-link{
  background-color: #e8f4fa;
  color: #1264a3;
  border-radius: 3px;
  padding: 0 4px;
}