#chatroom_container{
  flex: 1 1 auto;
}
.room-container{
  padding-bottom: 100px;
}
#single_room{
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    margin-left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #717377;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #636468;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #bebebe;
  }

  &::-webkit-scrollbar-track:active {
    background: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
.message-box {
  width: fit-content;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}