.about-group-item{
  padding: 16px 20px;
}

.room-info-tabs .room-info-link{
  color: inherit;
}

.nav .nav-link.active{
  border-bottom: 2px solid var(--secondary-light-bg-color);
}
.room-info-name{
  font-size: 18px;
}
.room-info-description{
  font-size: 14px;
}
