.search{
  background-color: var(--secondary-light-bg-color);
  &:hover{
    background-color: var(--secondary-light-bg-color);
  }
  height: 26px;
  z-index: 1;
}
.search-wrapper{
}
.search-placeholder{
  color: #fff;
  font-size: 12px;
}
.search-icon{
  font-size: 12px;
}

.search-modal-dialog{
  max-width: var(--search-bar-width);
}