.sidebar{
  border-radius: 10px 0 0 10px;
  min-width: 215px;
  color: var(--sidebar-text-color);
}
.sidebar-main{
  max-height: calc(100vh - 100px);
}
.sidebar-text-color{
  color: var(--sidebar-text-color);
}

.sidebar-collapse-btn{
  color: var(--sidebar-text-color);
  text-decoration: none;
  cursor: pointer;
}

.sidebar__room, .sidebar__room > a{
  color: var(--sidebar-text-color);
}

.sidebar-footer--username{
  color: var(--sidebar-text-color);
}

.sidebar-hoverable{
  border-radius: 7px;
  &:hover{
    background-color: var(--main-bg-color-hover);
    color: var(--nav-text-color);
  }
}
.sidebar-newroom--icon{
  background-color: var(--secondary-light-bg-color);
  border-radius: 3px;
  padding: 1px;
}
.sidebar-rooms-group{
  flex-wrap: nowrap;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  width: 10px;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  touch-action: none;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}