:root{
  --main-bg-color: #111111;
  --main-bg-color-hover: #532e53;
  --danger-bg-color: #8a2372;
  --logo-bg-color: #d8d8d8;
  --secondary-bg-color: #1e1e1e;
  --secondary-light-bg-color: #784A79;
  --shadow-bg-color: #efefef;
  --nav-text-color: white;

  --sidebar-text-color: #e3d3ea;

  --search-bar-width: 45vw;
}