:root{
  --main-bg-color: #400d40;
  --main-bg-color-hover: #532e53;
  --logo-bg-color: #d8d8d8;
  --secondary-bg-color: #532354;
  --secondary-light-bg-color: #784A79;
  --shadow-bg-color: #efefef;
  --nav-text-color: white;

  --sidebar-text-color: #e3d3ea;

  --search-bar-width: 45vw;
}