<div class="tabs-item w-100 position-relative">
  <a class="tabs-content nav-link tabs__content btn-squeeze w-100" aria-current="page" href="<%= dms_path %>">
    <i class="bi bi-person tabs__content_icon"></i>
    <p class="tabs__content_label">DMs</p>
  </a>

  <div class="tabs-popover rounded d-none fade-in-fast">
    <%= render partial: 'layouts/tabs/dms/popover_content' %>
  </div>
</div>