<div class="sidebar-inner d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
  <%= render partial: "layouts/sidebar/sidebar_top" %>
  <hr class="w-100 m-0">
  <%= render partial: "layouts/sidebar/sidebar_main" %>
  <%= render partial: "layouts/sidebar/sidebar_footer" %>
</div>
