<% other_user = peer_room_other_user_or_self(room)  %>
<div class="d-flex flex-row flex-wrap">
  This conversation is just between&nbsp;
  <%= link_to other_user&.username,
              user_path(other_user),
              data: { turbo_frame: 'modal_frame', 'turbo-prefetch': false },
              class: 'nav-link user-text-link' %>
  &nbsp; and you. Check out their profile to learn more about them.
</div>