<% flash.each do |key, value| %>
  <% alert_class = case key
                   when "notice" then "info"
                   when "alert" then "danger"
                   else key
                   end %>
  <%= content_tag :div, class: "alert alert-#{alert_class} fixed-alert" do %>
    <button type="button"
            class="btn close"
            data-dismiss="alert"
            aria-label="Close"
            onclick="this.closest('.alert').remove()">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= value %>
  <% end %>
<% end %>