<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#newRoomModal">
  Launch demo modal
</button>

<div class="modal fade" id="newRoomModal" tabindex="-1" aria-labelledby="newRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoomModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "layouts/new_room_form" %>
      </div>
    </div>
  </div>
</div>