<nav class="nav tabs flex-column justify-content-center align-items-center gap-3">
  <button class="tabs__logo btn"><i class="tabs__logo_icon"><%= current_user.username.first.upcase %></i></button>
  <div class="tabs__container rounded"></div>
  <a class="nav-link tabs__content active" aria-current="page" href="#">
    <i class="bi bi-house tabs__content_icon"></i>
    <p class="tabs__content_label">Home</p>
  </a>
  <a class="nav-link tabs__content" href="#">
    <i class="bi bi-chat tabs__content_icon"></i>
    <p class="tabs__content_label">DMs</p>
  </a>
  <a class="nav-link tabs__content" href="#">
    <i class="bi bi-bell tabs__content_icon"></i>
    <p class="tabs__content_label">Activity</p>
  </a>
</nav>
